In [2]:
import pandas as pd

In [10]:
data = pd.read_csv("data/disabilityconfident.csv", encoding="ISO-8859-1")

In [12]:
data.head()

,Business name,Town or city,Postcode,Sector,"DC level (Committed, Employer, Leader)"
0,1 Business Enterprise t/a Get Set Academy,Blackburn,BB2,Education / Teaching,Committed
1,1 Less Worry Payroll Services Ltd,Plymouth,PL3,Financial Services,Committed
2,1 Stop Healthcare,Colchester,CO3,Recruitment Agencies,Employer
3,121 Captions Limited,London,W1A,Customer service,Committed
4,1620 PIMM Limited,Southampton,SO16,Education / Teaching,Employer

In [36]:
#data.groupby("Postcode").count()
data['FirstPostcode'] = data['Postcode'].str[:2]

In [37]:
data.head()

,Business name,Town or city,Postcode,Sector,"DC level (Committed, Employer, Leader)",FirstPostcode
0,1 Business Enterprise t/a Get Set Academy,Blackburn,BB2,Education / Teaching,Committed,BB
1,1 Less Worry Payroll Services Ltd,Plymouth,PL3,Financial Services,Committed,PL
2,1 Stop Healthcare,Colchester,CO3,Recruitment Agencies,Employer,CO
3,121 Captions Limited,London,W1A,Customer service,Committed,W1
4,1620 PIMM Limited,Southampton,SO16,Education / Teaching,Employer,SO